---
layout: default
---

<div class="home">

  <div class="jumbotron">
    <div class="page-header"> 
      <h1> Science & Math Blog
	<small> by Andrew White  </small>
      </h1>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at ligula dictum, tristique elit vitae, iaculis mauris. Morbi consectetur libero sagittis, semper nulla consectetur, cursus est. Pellentesque sit amet nibh odio. Donec non risus est.</p>
    <div class="pull-right">
    <a class="btn btn-warning" href="{{ "/feed.xml" | prepend: site.baseurl }}"> Subscribe via RSS </a>
    </div>
  </div>

  <div class="row">
      {% for post in site.posts limit:3 %}
          <div class="post-content-truncate col-md-4">
	    <h2> {{ post.title }} </h2>
	    {%if page.abstract %}
	        <h4> {{ page.abstract }} </h4>
	    {% endif %}
	    <p class="text-muted">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	    {% if post.content contains "<!-- more -->" %}
                {{ post.content | split:"<!-- more -->" | first %}}
            {% else %}
                {{ post.content | strip_html | truncatewords: 100 }}
	    {% endif %}

	    <div class="pull-right">
	      <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default"> 
		Read Post <span class="glyphicon glyphicon-chevron-right"></span>
	      </a>
	    </div>
          </div>

       {% endfor %}
   </div>

<!--  <ul class="posts"> -->
<!--    {% for post in site.posts %} -->
<!--      <li> -->
<!--        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> -->
<!--        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
<!--      </li> -->
<!--    {% endfor %} -->
<!--  </ul> -->

</div>
